/* ==========================================================================
Project Colors:

    yellow: #f2a937
        4 lighter shades:
            grey-tone:#f4b956
            med: #f5c87e
            med-light: #f4d5a3
            light: #f5e7cc
     red: #e53c38
        4 lighter shades:
            grey-tone: #ea625d
            med: #ec8882
            med-light: #f0abab
            light: #f5d1d2
    light blue: #82c6b4
        4 lighter shades:
            grey-tone: #9bd0c3
            med: #b0dbd2
            med-light: #cae4df
            light: #dfeceb
    med blue: #28818d
         4 lighter shades:
            grey-tone: #4d98a2
            med: #79b0b9
            med-light: #c3dcde
            light: #ccdfe2
     dark blue: #0f394c
        4 lighter shades:
            grey-tone: #3e6170
            med: #6c8592
            med-light: #9baab5
            light: #c9cfd6

    white: #eeeeee
    Dark Grey: #222222;

text:
font-family: 'Montserrat', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Merriweather Sans', sans-serif;

   ========================================================================== */

/*===== Universal Styles ======================*/

body, html{
    font-family: 'Merriweather Sans', sans-serif;
    background-color:#eeeeee;
    color:#222222;
    font-size:60px;
}
p{
    font-size:1em;
    
}
h1, h2, h3, h4{
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
}
h1{
   font-size:1.4em; 
}
h2{
    font-size:1em;
}
.btn{
    background-color: #82c6b4;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2.5;
    text-align: center;
    height: 2.5em;
    width: 100%;
    display: block;
    border:none;
}
    .btn:hover{
        background-color: #9bd0c3;
        color: #fff;
    }

input.btn{
    background-color: #f2a937;
    color: #fff;
}
    input.btn:hover{
        background-color: #f5c87e;
        color: #fff;
    }

/*===== HOME Mobile ===========================*/
.body{
  background: #0f394c;
}
.navbar{
    background: #0f394c;
    margin:0;
}
#mind-reader-logo{
    width:100%;
    
    text-align: center;
}
#title-area{
    padding: 50px 50px 30px 30px;
    margin:0;
}
div.container.form{
    width:100%;
    background: #4d98a2;
    color: #eeeeee;
}
.form-group{
    padding-left: 50px;
    padding-bottom: 50px;
}
.form-control{
    width:80%;
    padding-left: 50px;
    padding-bottom: 50px;
}
.featured{
    display: none;
}
.images{
    display: none;
}
.topics{
    display: none;
}

.footer{
    height: 200px;
    background: #0f394c;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media (min-width: 768px) {

body,html{
        font-size: 30px;
}
    
#mind-reader-logo{
    width:60%;
    float:left;
}
    div.container.form{
        padding-bottom: 30px;
        background: red;
    }
    .form-control{
        width:90%;
    }
    .btn{
        width:40%;
        margin-left: 55%;
    }
    .featured{
        display: block;
        text-align: center;
        color: #0f394c;
        font-weight: 700;
        font-size:1.4em;
    }
    .images{
        text-align: center;
        margin-bottom: 30px;
        display: block;
    }
    .topic{
        width:40%;
    }
}

@media (min-width: 940px){
    html,body{
        font-size: 16px;
    }

#mind-reader-logo{
    width:20%;
}
.jumbotron.clearfix{
    background-image: url(../img/gifts.jpg);
    background-size:contain;
}
div.container.form{
    width:50%;
    padding-bottom: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 25%;
    background: blue;
}   
    #title-area{
        padding: 20px;
    }
 .form-control{
        width:80%;
    }   
}