/* ==========================================================================
Project Colors:

    yellow: #f2a937
        4 lighter shades:
            grey-tone:#f4b956
            med: #f5c87e
            med-light: #f4d5a3
            light: #f5e7cc
     red: #e53c38
        4 lighter shades:
            grey-tone: #ea625d
            med: #ec8882
            med-light: #f0abab
            light: #f5d1d2
    light blue: #82c6b4
        4 lighter shades:
            grey-tone: #9bd0c3
            med: #b0dbd2
            med-light: #cae4df
            light: #dfeceb
    med blue: #28818d
         4 lighter shades:
            grey-tone: #4d98a2
            med: #79b0b9
            med-light: #c3dcde
            light: #ccdfe2
     dark blue: #0f394c
        4 lighter shades:
            grey-tone: #3e6170
            med: #6c8592
            med-light: #9baab5
            light: #c9cfd6

    white: #eeeeee
    Dark Grey: #222222;

text:
font-family: 'Montserrat', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Merriweather Sans', sans-serif;

   ========================================================================== */

/*===== Universal Styles ======================*/

body, html{
    font-family: 'Merriweather Sans', sans-serif;
    background-color:#eeeeee;
    color:#222222;
    font-size:30px;
}
p{
    font-size:1em;

}
a{
    color:#0f394c;
}
h1, h2, h3, h4{
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
}
h1{
   font-size:1.4em;
}
h2{
    font-size:1em;
}
#submit-btn{
    background-color: #82c6b4;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2.5;
    text-align: center;
    height: 2.5em;
    width: 100%;
    display: block;
    border:none;
}
    #submit-btn:hover{
        background-color: #9bd0c3;
        color: #fff;
    }

input.btn{
    background-color: #f2a937;
    color: #fff;
}
    input.btn:hover{
        background-color: #f5c87e;
        color: #fff;
    }

/*===== HOME Mobile ===========================*/
.body{
  background: #0f394c;
}
.navbar{
    background: #0f394c;
    margin:0;
}
#mind-reader-logo{
    width:100%;

    text-align: center;
}
#title-area{
    padding: 50px 50px 30px 30px;
    margin:0;
}
div.container.form{
    width:100%;
    background: #4d98a2;
    color: #eeeeee;
}

.featured{
    display: none;
}
.images{
    display: none;
}
.topics{
    display: none;
}

.footer{
    height: 200px;
    background: #0f394c;
}

/*===== Search Mobile ===========================*/
html,body{
    background-image: url(../img/swirl_pattern.png);
}
#results{
    display: flex;
    flex-wrap: wrap;
}
.product{
    padding:10px;
    width:25%;
    height: 35%;
    text-align: center;
    border: 1px solid #eeeeee;
}
.amazon-product{
    padding:10px;
    width:25%;
    height: 35%;
    text-align: center;
    border: 1px solid #eeeeee;  
}
.product h5{
    font-size: .9em;
}
.product h6{
    font-size:0.8em;
}
.product-info{
    white-space: normal;
    height: 70px;
    overflow: hidden;
    margin:10px;
}
.navbar-brand{
    float: left;
}
.navbar{
    justify-content: flex-start;
}
#accordion{
width:80%;
margin-left:10%;
margin-right: 10%;
margin-top: 30px;
}
btn.btn-primary{
    padding-bottom: 0;
}

.btn-group{
    display: flex;
    justify-content: center;
}
.btn-primary{
    background-color: #4d98a2;
    border-color:  #28818d;
}
.btn-primary:hover{
    background-color: #79b0b9;
    border-color:  #4d98a2;
}

.btn-primary:not([disabled]):not(.disabled).active{
    background-color: #28818d;
    border-color:  #28818d;
    box-shadow: none;
}
label.btn.btn-primary:active:focus{
     background-color: #28818d;
    border-color:  #28818d;
    box-shadow: none;
}

.instructions{
    text-align: center;
    color: #0f394c;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media (min-width: 768px) {

body,html{
        font-size: 30px;
}

#mind-reader-logo{
    width:60%;
    float:left;
}
    div.container.form{
        padding-bottom: 30px;
/*        background: red;*/
    }
    #submit-btn{
        width:40%;
        margin-left: 55%;
    }
    .row.featured{
        display: flex;
        justify-content: center;
    }
    .featured{
        color: #0f394c;
        font-weight: 700;
        font-size:1.4em;
    }
    .images{
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;

    }

    .col-md-4{
        float: left;
        width:33%;
        text-align: center;
    }

    .topic:hover{
       opacity: 0.5;
    }


    .hover-text{
        display: flex;
        color: #fff;
        font-weight: 700;
        font-size: 1.2em;
        position: relative;
        z-index: 1;
        bottom: 90px;
        left:18%;

    }
    .topic{

        width:80%;
    }

}

@media (min-width: 940px){
    html,body{
        font-size: 16px;
    }

#mind-reader-logo{
    width:40%;
}
.jumbotron.clearfix{
    background-image: url(../img/swirl_pattern.png);
    background-size:contain;
}
div.container.form{
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 15%;
    margin-right: 15%;
    width:70%;
    
}

    #title-area{
    padding: 0;
    }

    ul{
       -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;

    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;

    -webkit-column-rule: 4px outset #4d98a2; /* Chrome, Safari, Opera */
    -moz-column-rule: 4px outset #4d98a2; /* Firefox */
    column-rule: 4px outset #4d98a2;
        }

    #scroll-area.clearfix{
        height:80px;
        overflow-y:scroll;
    }
    .checkbox-row{
    display: flex;
     flex-direction: column;
     justify-content: space-between;
     float:left;
     margin-right: 20px;
    }

    #submit-btn{
        display: flex;
        align-self: flex-end;
        justify-content: center;
        width:40%;
        margin-top: 20px;
        margin-left: 50%;

    }
    
    /* experimental*/
    .sign-up__success {
  position: absolute;
  left: calc(50% - 50px);
  top: calc(27% - 50px);
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f2a937;
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: bold;
  line-height: 100px;
  display: none;
}

.sign-up__loader {
  position: absolute;
  left: calc(50% - 60px);
  top: calc(50% - 60px);
  margin: auto;
  border: 16px solid #79b0b9; /* light purple */
  border-top: 16px solid #f4b956; /* yellow */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: rotate 2s linear infinite;
  display: none;
}

/* Loader animation */
@keyframes rotate {
  100% { transform: rotate(360deg); }
}


}
